
// /* NAVIGATION */
 figure{
     width:400px;
     height:190px;
    @include backImage('../images/logo.png') ;
    background-repeat: no-repeat;
    background-position: 0 50px;
     float:left;
     display:block;
     margin:0;
       @include break(0, 495px) {
            width:300px;
            }
        @include break(496px, 767px){
            width: 460px;
        }
        @include break(768px, 959px) {
            width:768px;
    }
}
nav {
    width:540px;
    height:190px;
    float:left;
    text-align:right;
    @include break(0, 495px) {
        margin-bottom:40px !important;
        }

     @include break(768px, 959px) {
        width:inherit;
        height:50px;
        float:none;
        text-align:center;
        }
    
    ul { 
        @include break(768px, 959px) {
            margin-top:0; 
        }
        list-style-type:none;
        margin-top:95px;
       
        li {
            @include break(768px, 959px) {  
            font-size:0.8em;
            margin:0 5px;
            }
            display:inline;
            font-size:0.8em;
            margin-right:10px;
               
            a {
                color:$red;
                text-decoration:none;

                    a:hover { 
                        color:$white;
                    }
                }
            }
        } 
    }


/* HEADER */
 header {
     width:inherit;
     clear:both;
     text-align:center;
     padding-top:40px;
       img{
           max-width:100%;
           height:auto;
           @include break(0, 495px) {
            margin-bottom:80px;
           }
           @include break(496px, 767px){
            margin-bottom:100px;
           }
        }
       h1 {
           color:$red;
           font-weight:map-get($font-weight,light);
           font-size:3em;
           line-height:0;

                @include break(768px, 959px) {
                    font-size:3em;
                }
                @include break(496px, 767px){
                    font-size:2em;
                }
                // @include break(0, 495px) {
                //     font-size:1.4em;
                //     margin-bottom:20px;
                // }
        }
       h2 {
           color:$white;
           font-weight:map-get($font-weight,bold);
           font-size:map-get($font-size, sm);
           line-height:0;
           margin-bottom:70px;
            @include break(768px, 959px) {
                font-size:1.5em;
            }
            @include break(496px, 767px){
                font-size:1em;
            }
            @include break(0, 495px) {
                font-size:1.4em;
            }
        }
       h3 {
           color:$grey;
           font-weight:map-get($font-weight,regular);
           font-size:map-get($font-size, sm);
           line-height:0;
           margin-bottom:50px;
          
            @include break(496px, 767px){
                font-size:1.5em;
            }
            @include break(0, 495px) {
                color:#FFF;
                font-size:1em;
            }

       } 
}


/* CONTENT */
#headline {
    width:100%;
    height:130px;
    background:$h_background;
    text-align:center;
    margin:0 auto;
    h1 {
        color: $white;
        font-size:map-get($font-size,md);
        font-weight:map-get($font-weight,light);
        padding-top:50px;
        @include break(496px, 767px){
            font-size:2em;
            padding-top:50px;
        }
        @include break(0, 495px) {
            font-size:1.5em;
            padding-top:30px;
        }

    }
 }
#content {
    width:940px;
    margin:20px auto;
    @include break(768px, 959px) {
        width:inherit;
    }
    h3 {
        color:$grey;
        font-size:map-get($font-size,sm);
        font-weight:map-get($font-weight,regular);
        @include break(0, 495px) {
            font-size:1.6em;
        }
    }
    #products {
        width:460px;
        float:left;
  
        img {
        float:left;
        margin-right:20px;
        @include break(0, 495px) {
            display:none;
        }
       }

        article  {
        margin-bottom:40px;
       }
         h4 {
        line-height:1em;
       }
       @include break(768px, 959px) {
         width:46%;margin:0 2%;}
        @include break(496px, 767px){
            width:96%;
            margin:0 2%;
            float:none;
        }
    }
  
    #testimonials {
        width:460px;
        float:right;
        @include break(768px, 959px) {
            width:46%;margin:0 2%;
        }
     
        @include break(496px, 767px){
            width:96%;
            margin:0 2%;
            float:none;
        }
       }
   
}

